body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0.5em;
  background: #f9f9f9;
}
header {
  text-align: center;
  margin-bottom: 1em;
}
main {
  max-width: 800px;
  margin: auto;
}

/* add spacing between task list and form */
rsync-task-list {
  display: block;
  margin-bottom: 2em;
}
